header {
  background: rgb(58, 58, 185);
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

main {
  display: flex;
  margin-top: 20px;
}

.arena {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.row {
  display: flex;
}

.space {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  padding: 0 1px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1350px) {
  .arena {
    flex-direction: column;
  }
  .computer-board {
    margin: 0 auto;
  }
  .player-board {
    margin: 20px auto;
  }
}
