body {
  background: radial-gradient(
    circle,
    rgba(20, 87, 165, 0.7215685590642507) 0%,
    rgba(84, 129, 214, 1) 91%
  );
}

header {
  background: #1457a5;
  height: 50px;
  color: white;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  font-size: 30px;
}

.title {
  grid-row: 1/-1;
  grid-column: 1/-1;
  justify-self: center;
}

.btn {
  grid-row: 1/-1;
  grid-column: 1/-1;
  border: none;
  border-radius: 5px;
  background: #5482d69d;
  padding: 5px;
  justify-self: end;
  margin-right: 20px;
  color: white;
}

.btn:hover {
  opacity: 0.2;
}

main {
  display: flex;
  margin-top: 20px;
}

.arena {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.disable-clicks {
  pointer-events: none;
}

.player-board,
.computer-board {
  background: url("../media/open-sea.jpeg");
  color: white;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
}

.row {
  display: flex;
}

.space {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  padding: 0 1px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
}

.hit {
  background: red;
  border-radius: 100%;
  height: 50%;
  width: 50%;
  animation: hit 0.5s;
}

@keyframes hit {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(4);
  }
}

@media (max-width: 1350px) {
  .arena {
    flex-direction: column;
  }
  .computer-board {
    margin: 20px auto;
  }
  .player-board {
    margin: 20px auto;
  }
}

@media (max-width: 590px) {
  .space {
    height: 30px;
    width: 30px;
  }
}
